<div>
   <h2>Register with Us!!</h2>
  <!--<form [formGroup] = "registrationForm" (ngSubmit) = "onSubmit()">
          <div>
              <label>Username</label>
              <input formControlName = "username" type = "text"/>
          </div>
          <div>
              <label>Email</label>
              <input formControlName = "email" type = "text"/>
          </div>
          <div>
              <label>Password</label>
              <input formControlName = "password" type = "password"/>
          </div>

          <input type = "submit"/>
  </form> -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>username</mat-label>
      <input matInput placeholder="abcd" >
    </mat-form-field>
  
    
  </form>
  

</div>